pandas
langchain_community
langchain_text_splitters
beautifulsoup4
pymilvus==2.5.6
langchain_milvus
langchain_huggingface
huggingface_hub
langchain_openai
requests
python-dotenv
matplotlib
fastapi[standard]
mailbox
boto3==1.38.8
